importFrom("MASS", ginv)
importFrom("survey",
            svyvar,
            svymean, 
            degf,
            pFsum)
importFrom("lavaan",
            lavNames,
            lav_matrix_vech,
            lav_matrix_duplication_ginv,
            lav_matrix_bdiag,
            lavInspect, 
            lavTech,
            fitMeasures)
importFrom("stats", 
           as.formula,
           cov, 
           median)
S3method(coef,lavaan.survey.mi)
S3method(print,lavaan.survey.mi)
S3method(print,summary.lavaan.survey.mi)
S3method(summary,lavaan.survey.mi)
S3method(vcov,lavaan.survey.mi)
export("lavaan.survey")
export("lavaan.survey.ordinal")
export("pval.pFsum")
